<div class="row">
	<div class="col-md-6">
		<div class="well">
			<h1>Login</h1>
			<form ng-submit="login()">
				<div class="form-group">
					<label>Username: </label>
					<input type="text" ng-model="credentials.username" required class="form-control" placeholder="Username or email"/>
				</div>
				<div class="form-group">
					<label>Password: </label>
					<input type="password" ng-model="credentials.password" required class="form-control" placeholder="Password"/>
				</div>
				<div class="form-group">
					Remember me:
					<input type="checkbox" ng-model="credentials.rememberMe"/>
				</div>
				<input type="submit" class="btn btn-primary" value="Login"/>
			</form>
			<a ng-href="#/register">Register</a>
		</div>
	</div>
</div>